@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}


/* html, body { overscroll-behavior: none;} */
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: beige;
  overflow: hidden;
}
.heading {
  width: clamp(200px, 60vw, 400px);
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: clamp(25px, 1.8rem, 40px);
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.score-container {
  padding: 5px;
  box-shadow: 1px 2px 5px 0px #a1947f;
  line-height: clamp(30px, 20vh, 40px);
  text-align: center;
  height: clamp(30px, 9vh, 50px);
  width: clamp(80px, 20vw, 134px);
  background-color: rgb(204, 201, 161);
  font-size: clamp(12px, 3.5vw, 15px);
  font-weight: 600;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
}
.grid {
  grid-template-rows: 1fr 1fr 1fr 1fr;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 20px;
  background-color: #dac8a1;
  touch-action: none;
  box-shadow: 0 0 12px 1px #6b6655;
  user-select: none;
}

.gridEl {
  display: flex;
  margin: 7px;
  width: clamp(50px, 15vw, 103px);
  height: clamp(50px, 15vw, 103px);
  background-color: #d8c499;
  color: rgb(180 161 126);
  font-family: "Poppins", sans-serif;
  font-size: clamp(20px, 6vw, 35px);
  align-items: center;
  justify-content: center;
  font-weight: 400;
  border-radius: 5px;
}

.game-over {
  margin: 20px;
  height: clamp(25px, 7vh, 50px);
  width: clamp(250px, 70vw, 500px);
  font-weight: 700;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7e0101;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
.game-win {
  margin: 20px;
  height: clamp(25px, 7vh, 50px);
  width: clamp(250px, 70vw, 500px);
  font-weight: 700;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #056220;
  transform: scale(1.5);
  transition: all 0.5s ease;
}

.merge {
  animation: mergeAnim 0.3s ease-in;
}

@keyframes mergeAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.resetGame {
  position: relative;
  top: 3%;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgb(220, 40, 76);
  color: rgb(255, 255, 255);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 600;
  font-size: 1.06rem;
  cursor: pointer;
}
.resetGame:hover{
  background-color: rgb(220, 40, 76,0.79);
}

@media (max-width:500px) {
  
  .score-container{
    line-height: normal;
  }
}



